In [9]:
import pandas as pd
import numpy as np

In [10]:
file_path = "F:/YES-BANK-STOCK-CLOSING-PRICE-PREDECTION/notebooks/data/data_YesBank_StockPrices.csv"
data = pd.read_csv(file_path)

In [11]:
data.head()

     Date   Open   High    Low  Close
0  Jul-05  13.00  14.00  11.25  12.46
1  Aug-05  12.58  14.88  12.55  13.42
2  Sep-05  13.48  14.87  12.27  13.30
3  Oct-05  13.20  14.47  12.40  12.99
4  Nov-05  13.35  13.88  12.88  13.41

In [12]:
# Independent Volumns 
x = data[['Open','High','Low']]

In [13]:
# Dependent Column 
y = data[['Close']]